*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


/*BODY*/
body{
    background-color: #000000;
    align-items: center;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    overflow-x: hidden;    
}
/*END BODY*/


.TituloYbuscador{
    text-align: center;
}

.buscador{
    padding: 5px 15px;
    outline: none;
    color: #000000;
}

.ListaContainer{
    background: #af0000;
    text-align: center;
    height: 350px;
    
	overflow-x: hidden;
	display: none;
}

.alimentoLink{
    text-decoration: none;
    color: white;
}

.alimento{
    font-size: 10px;
    padding: 10px;
}

.filtro{
    display: none;
}