*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}


/*BODY*/


body{
    align-items: center;    
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 600px;
    margin: auto;  
    height: 97vh;
}

/*END BODY*/

.header{
    height: 100%;
    display: flex;    
    color: #fff;
    background-color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.contenedor{
    height: 100%;
    text-align: center;    
}

.content-header{
    z-index: 2;    
    margin: auto;
}

.content-header img{
    height: 60px;
    margin-bottom: 30px;
}

.content-header h1{
    font-size: 35px;
    margin-bottom: 10px;
}

.content-header p{
    font-size: 14px;
}

.boton-envio{
    background: #9BCB3B;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 2px;
    width: 350px;    
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: block;
    transition: 0.3s ease;   
    border: #9BCB3B solid 1px;
}

.boton-envio:hover{
    background-color: #000000;
    color: #9BCB3B;
}

@media (max-width: 960px){
    .content-header{
        z-index: 2;
    }   
}











/*ESTILOS FOOTER*/

.textFooter{    
    margin-bottom: 35px;
    margin-right: 40px;
    margin-left: 40px;
    color: #ffffff;
    border-top: #9BCB3B solid 1px;
}

.SocialtitleFooter{    
    color: #9BCB3B;
    font-weight: 500;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 2px;

}

.linkSocialFooter{
    font-size: 20px;
    text-decoration: none;    
    color: #ffffff;   
    margin-right: 20px;
    margin-left: 20px;
}

.linkSocialFooter:hover{
    color: #9BCB3B;
}

.LinkListFooter1{
    text-align: center;
    margin-bottom: 25px;
}

.rights{
    background: #000000;
    padding-bottom: 25px;
}

.rights h6{
    font-weight: 400;
}

.footer-rigths{
    font-size: 8px;
    color: #ffffff;
    text-align: center;
    z-index: 100;
}

.link-Footer{
    color: #ffffff;
    text-decoration: none;
}

/*END ESTILOS FOOTER*/
